@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');




//TEMAS PARA LAS ALERTAS
.dark-theme-popup {
  color: aliceblue;
}

.dark-theme-popup .swal2-title {
  color: #ffc107;
  /* Color del título */
}

//FIN TEMAS PARA LAS ALERTAS


//COLORES PARA BOTONES ALERTAS

.colorojo {
  color: #DC3545;
}

.colorverde {
  color: #1bf30b;
}




// COLOR DE FLECHAS DE LOS CARROUSELES
:root {
  --swiper-theme-color: #DC3545 !important;
}

// FIN





// TODOS LOS BACGROUNDS
body {
  background-color: #1f1f1f;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login {
  background-color: #000000;
}


.Registro {
  background-color: #000000;
}

.resetpass {
  background-color: #000000;
}

.bg-warning {
  color: #ffc107;
}

// FIN BACGROUNDS







// TODOS LOS TEXTOS
.Texto {
  font-family: "Bebas Neue", sans-serif;
}

.anton {
  letter-spacing: 5px;
  font-family: "Anton SC", sans-serif;
}

.antonparabackend {
  letter-spacing: 2px;
  font-family: "Anton SC", sans-serif;
}

.antonpararecuperar {
  font-family: "Anton SC", sans-serif;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}

.texto {
  margin-bottom: -3px;
}

.UnifrakturMaguntia {
  font-family: 'UnifrakturMaguntia', cursive;
}

// FIN TEXTOS


// SIDEBARPARAADMIN
.sidebar2 {
  width: 12vw;

  a {
    text-decoration: none;

    &.active {
      background-color: #e9c706;
    }
  }
}

// FIN







// STYLES IMGS
.img {
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  width: 50%;
}

// FIN IMGS






// TODAS LAS MARGENES
.welcomeindex {
  margin-top: 10%;
}

.welcomeindex2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.85)), url('/logomastershop.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: #111;
}

.welcome {
  margin-top: 20%;
}

.welcome-2 {
  margin-top: 25%;
}

.contenido {
  margin-left: 10%;
}

.contenido2 {
  margin-left: 12%;
}

.contenidol {
  margin-left: 8%;
}

.contenido3 {
  margin-left: 15%;
}

.contenido4 {
  margin-left: 37%;
}

.contenido5 {
  margin-left: 25%;
}

.contenido6 {
  margin-left: 12%;
}


// FIN MARGENES






.zoomhover2:hover {
  transform: scale(1.2);
}








// SYLES CODIGO VERIFICACION
.clase-codigo-verificacion {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 40px;
}

.cuadros {
  border: 1px solid #fbff12;
  background-color: #000000;
  width: 60px;
  height: 60px;
  margin: 9px 5px;
  font-size: 25px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
  border-radius: 100px;
}

// FIN




// STYLE MAPA
.map {
  width: 100%;
}

// FIN 






// DARK AND LIGHT STYLE 

/* Estilos para el modo claro */
body.light {
  background-color: #1f1f1f;
  color: white;
}

/* Estilos para el modo oscuro */
body.dark {
  background-color: white;
  color: #1f1f1f;
}

/* Botón de cambio de tema */
button {
  padding: 2px 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1f1f1f;
}

// FIN DARK AND LIGHT 

.icono {
  font-size: 190px;
  /* Para íconos de texto */
  color: #ffffff;
  margin: 50px;
}

.sm {
  font-size: 10px;
}

// Estilo Boton Cerrar Sesion
.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}

.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

// Fin Boton

.margen1 {
  margin-top: 20%;
}

.card-calificacion:hover {
  box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.card-calificaciones {
  width: 28rem;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(145deg, #1a1a1a, #2a2a2a);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-calificaciones:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 24px rgba(255, 0, 0, 0.4);
}

.w {
  width: 18%;
}

/* Estilo general del calendario */
.react-datepicker {
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #4b4b4b;
  color: #535353;
  border: none;
  width: 50%;
  font-weight: bold;
}

.react-datepicker__month-container {
  width: 86.7%;
  height: 100%;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  container: calendario;

}

/* Encabezado del calendario */
.react-datepicker__header {
  background-color: #ffd000;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 16px;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}

.react-datepicker__header--custom {
  background-color: #ffd000;
  color: #000000;
  font-size: 16px;
  padding: 16.5px;
  border-radius: 8px 8px 0 0;
}

/* Días del calendario */
.react-datepicker__day {
  color: #fff;
  font-size: 16px;
  margin: 7px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  justify-content: space-between;
}

.react-datepicker__day-name {
  display: none;
  color: #ffffff;
  font-size: 16px;
  margin: 0 30px;
  padding: 5px 0;
  border-radius: 100%;
  transition: background-color 0.5s ease;
  justify-content: space-between;
}

/* Día seleccionado */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #ffd000;
  color: #ffffff;
  font-weight: bold;
}

/* Día en hover */
.react-datepicker__day:hover {
  background-color: #ffdd57;
  color: #000;
}

/* Botones de navegación */
.react-datepicker__navigation {
  top: 15px;
  line-height: 1.7rem;
  border: none;
  background-color: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.react-datepicker__navigation:hover {
  background-color: transparent;
  color: inherit;
  cursor: default;
}



.react-datepicker__navigation-icon::before {
  border-color: #ffffff;
}

/* Selector de tiempo */
.react-datepicker__time-container {
  width: 13.1%;
  background-color: #1a1a1a;
  border-left: 1px solid #ccc;
}

/* Lista de tiempo */
.react-datepicker__time-list {
  background-color: #535353;
  color: #FFF;
}

.react-datepicker__time-list-item {
  color: #fff;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.react-datepicker__time-list-item:hover {
  background-color: #ffc107;
  color: #000;
}

.react-datepicker__time-list-item--selected {
  background-color: #ffc107;
  color: #000;
  font-weight: bold;
}

.card-hover:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.selected-card {
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.7);
  border: 2px solid gold !important;
}

.fade-in {
  animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}